.singleContainer {
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(177, 176, 193) 0%, rgba(9, 121, 116, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.taskContainer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70%;
    margin: auto;
    background-color: white;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto, 40px);
    grid-gap: 20px;
    padding: 20px;
}
.taskContainer>div{
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.taskContainer>div:nth-child(4){
    border: none;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.delete:hover{
    color: red;
  
}
.editButton{
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
}
.taskContainer>div>span{
 
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}